__pycache__/
*.pyc
.env
.vscode/
*.exe
*.dll
*.zip
*.xls
*.xlsx
*.db
*.doc
*.docx
*.pdf
*.pyc
*.toc
*.pyz
*.txt
*.html
*.log
*.bak
*.tmp
*.swp
*.tar
*.gz
*.rar
*.7z
*.tar.gz
*.tar.bak
*.tar.bz2
*.pkg
*.pdf
*.ico
*.png
*.jpg
*.jpeg
*.gif
*.spec